<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="KOUPnPMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <KOUPnPMapper.Properties.Settings>
            <setting name="LocalIP" serializeAs="String">
                <value/>
            </setting>
            <setting name="Ports" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>15100</int>
                        <int>15101</int>
                        <int>15102</int>
                        <int>15103</int>
                        <int>15104</int>
                        <int>15105</int>
                        <int>15106</int>
                        <int>15107</int>
                        <int>15108</int>
                        <int>15109</int>
                        <int>15110</int>
                        <int>15111</int>
                        <int>15112</int>
                        <int>15113</int>
                        <int>15114</int>
                        <int>15001</int>
                    </ArrayOfInt>
                </value>
            </setting>
        </KOUPnPMapper.Properties.Settings>
    </applicationSettings>
</configuration>
